.page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrapper {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.344);
  position: relative;
}
.slider-line {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 255, 255, 0.455);
}
img {
  width: 100%;
  height: 400px;
  position: relative;
  right: 0;
  transition: 1s;
}
.arrow-left {
  border-radius: 50%;
  border: 1px solid grey;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  left: -20%;
  z-index: 1000;
  font-weight: 700;
  font-size: 2rem;
}
.arrow-left:hover,
.arrow-right:hover {
  background-color: brown;
  cursor: pointer;
  transition: 1s;
  color: white;
}
.arrow-left:active,
.arrow-right:active {
  border: 3px solid grey;
}
.arrow-right {
  border-radius: 50%;
  border: 1px solid grey;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  right: -20%;
  z-index: 1000;
  font-weight: 700;
  font-size: 2rem;
}
.hidden {
  display: none;
}
.image-wrapper {
  width: 100%;
  height: 500px;
  position: relative;
}
.image-wrapper p {
  position: absolute;
  top: 1%;
  left: 5%;
  color: red;
  font-size: 4rem;
  font-weight: 700;
  z-index: 5000;
}
